h1 {
  font-size: 33.25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  text-align: center;
  margin-bottom: 30px;
}
h2 {
  font-size: 33.25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  text-align: center;
  margin-bottom: 30px;
}

.headers {
  display: grid;

  grid-template:
    "a a a a" 145px
    "a a a a" 145px
    "a a a a" 145px
    "a a a a" 145px;
}

.row {
  display: flex;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: lighter;
}

.btn-rm {
  background-color: #008cba;
  border: none;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
}
.inp {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
input {
  height: 40px;
  width: 40px;
}

.btn-pl {
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  text-align: center;
  background-color: #008cba;
  color: white;
  border: none;
}.btn-mn {
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  text-align: center;
  background-color: #008cba;
  color: white;
  border: none;
}
.cartfooter {
  box-sizing: border-box;
  padding-right: 100px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.total {
  margin-left: 15px;
  font-weight: bolder;
}
.cartebody {
  text-align: center;
}
.like{
  margin-left: 15px;
}
.test2{
  display: flex;
  align-items: stretch;
}